@font-face {
	font-family: 'handwriting';
	src: url('../fonts/IndieFlower-Regular.ttf');
}
:root {
	--head-text: 'handwriting', cursive;
	--done-text: 'Gloria Hallelujah', cursive;
	--to-do-text: 'Source Code Pro', monospace;

	--secondary-color: rgb(243, 84, 150);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex--centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
