/* to do list */
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 1rem;
	padding: 0 0 0.7rem;
	border-bottom: 2px solid var(--secondary-color);
}
#plus {
	background-color: var(--secondary-color);
	border: none;
	outline: none;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	line-height: 4px;
	box-shadow: 5px 0 5px rgb(180, 180, 180);
}
#plus:hover {
	font-size: 23px;
	box-shadow: 6px 6px 6px rgb(180, 180, 180);
	background-color: rgb(255, 89, 150);
}
#plus:active {
	font-size: 20px;
	box-shadow: none;
	animation: spin 0.3s forwards;
}
.main__header {
	font-family: var(--head-text);
	letter-spacing: 15px;
	text-transform: capitalize;
	background: linear-gradient(to right, rgb(99, 233, 243) 30%, #f363bc 75%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 0px 0px;
	animation: bg-roll 15s forwards linear;
}

@keyframes bg-roll {
	50% {
		background-position: 580px 500px;
	}
}
