.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 1rem;
	padding: 0.7rem 0;
	border-bottom: 10px solid transparent;
	border-image: url(../image/Untitled-3.png) 20 round;
}
.main__header {
	font-family: cursive;
	letter-spacing: 10px;
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: -2px 1px 0 rgba(0, 0, 0, 0.801), 2px -1px 0 rgba(0, 0, 0, 0.801);
	color: white;
	background-position: 0px 0px;
}

#plus {
	background-color: white;
	border: none;
	outline: none;
	width: 40px;
	height: 50px;
	font-size: 40px;
	text-align: end;
	line-height: 55px;
	color: black;
	text-shadow: -2px 1px 0 rgba(0, 0, 0, 0.801);
	cursor: pointer;
	transition: text-shadow 0.1s;
}
#plus:hover {
	color: white;
	text-shadow: -2px 1px 0 rgba(0, 0, 0, 0.801), 2px -1px black;
}
#plus:active {
	font-size: 35px;
	box-shadow: none;
}
